# 모의고사 작업형 1회 문제

## 제 1유형

### 데이터셋 : airquality.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BigData/CSV_File/airquality.csv')

In [ ]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

###1.해당 데이터셋에서 결측치가 가장 많은 변수를 찾아서 해당 결측치를 0으로 대치하고, 결측치를 제외한 평균과 0으로 대치한 후의 평균과의 차이를 구하시오.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BigData/CSV_File/airquality.csv')
df.info()

#결측치를 0으로 대치 하기 전의 평균 구하기
mean = df['Ozone'].mean()

#결측치를 0으로 대치 한 후의 평균 구하기
df['Ozone'].fillna(0, inplace = True)
mean_0 = df['Ozone'].mean()

print(abs(mean_0 - mean))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB
10.188133874239352

###2.Wind 변수에 대해 최소 최대 정규화를 수행한 후 평균값과 Z 정규화를 수행한 후 평균 값의 차이를 구하시오.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BigData/CSV_File/airquality.csv')

from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

df['Wind_mms'] = mms.fit_transform(df[['Wind']])
a = df['Wind_mms'].mean()

df['Wind_z'] = (df['Wind'] - df['Wind'].mean()) / df['Wind'].std()
b = df['Wind_z'].mean()

print(abs(a-b))

0.43460612315101477

###3.월별(5~9월) 평균 기온을 구하시오.

In [ ]:
print(df['Temp'].groupby(df['Month']).mean())

Month
5    65.548387
6    79.100000
7    83.903226
8    83.967742
9    76.900000
Name: Temp, dtype: float64

## 제 2유형

### 데이터셋 : Bank_Personal_Loan_modeling.csv

Q. 은행에서 수집한 고객 5000명의 금융정보에 따른 대출여부가 들어있는 참조데이터를 이용해 대출 여부를 분류하는 가장 최적의 이웃의 크기값을 구하고, 이때 분류정확도를 산출하시오. 

또한 5000명의 사람들 중 은행에서 추가적인 관리가 필요한 특성을 가진 사람들의 수를 계산하시오. 


---


조건1 : 참조 데이터는 7:3의 비율로 훈련 데이터와 테스트 데이터를 구분

조건2 : 대출여부(y)는 계층적거으로 구분하는 샘플 구분 방식을 따름

조건3 :  Z값을 산출하여 정규화한다.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BigData/CSV_File/Bank_Personal_Loan_Modelling.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [ ]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [ ]:
df

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [ ]:
df = df.drop(['ID', 'ZIP Code'], axis=1)

In [ ]:
df = df.dropna()

In [ ]:
X = df.drop('Personal Loan', axis=1)
y = df['Personal Loan']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify = y)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(3500, 11) (1500, 11) (3500,) (1500,)

In [ ]:
from sklearn.preprocessing import Normalizer
nm = Normalizer()

X_train = nm.fit_transform(X_train)
X_test = nm.fit_transform(X_test)

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

kn = KNeighborsClassifier()

kn.fit(X_train, y_train)

pred_kn = kn.predict(X_test)

acc = accuracy_score(y_test, pred_kn)
print(acc, kn.n_neighbors)

0.9206666666666666 5

In [1]:
cd /content/drive/MyDrive/BigData/Exam

/content/drive/MyDrive/BigData/Exam

In [ ]:
!git config --global user.email 'dydwns9436@naver.com'
!git config --global user.name 'dydwns9436'

!git add Moak_Exam_01.ipynb

!git commit -m '2022-06-13'
!git push